.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2e2e2;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background: #E7F0FF !important;
}

.input-box {
  margin: 20px !important;
  width: 370px
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  box-shadow: 1px 1px rgb(229, 253, 255) !important;
  border-radius: 10px !important;
}